$color-athens-gray: #fafafb;
$color-white: #fff;
$color-emperor: #4f4f4f;
$color-gray: #828282;
$color-silver: #bdbdbd;
$color-jordy-blue: #97bef4;
$color-royal-blue: #2f80ed;
$color-catskill-white: #f6f8fb;
